/__pycache__/
/.idea/
/.vs/
/.vscode/
/Files/__pycache__/
/Data/Saves/*
!/Data/Saves/~menu_world
!/Data/Saves/testing world
!/Data/Saves/crafting world
/Files/__pycache__/*
Files/__pycache__
/Assets/Palettes/